


/*** 
=============================================
   Gallery Area Css
=============================================
***/
.gallery-area{
    position: relative;
    display: block;
    background: #f3f3f4;
    padding: 120px 0px 120px;
}
.gallery-area .sec-title .sub-title p {
    margin: 0 0 8px;
}

.project-menu-box {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 60px;
}
.project-filter {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}
.project-filter li {
    position: relative;
    display: inline-block;
    float: none;
    margin: 0 1px;
}
.project-filter li .filter-text {
    position: relative;
    display: block;
    padding: 0 30px;
    color: #0c1529;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 0px;
    transition: all .4s ease;
    z-index: 1;
    font-family: 'Rubik', sans-serif;
}
.project-filter li .filter-text:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    transform: scaleX(0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    z-index: -1;
}
.project-filter li:hover .filter-text:before,
.project-filter li.active .filter-text:before{
    transform: scaleX(1.0);    
}
.project-filter li:hover .filter-text,
.project-filter li.active .filter-text{
    color: #ffffff;    
}
.project-filter li .count {
    display: none;
}



.single-gallery-item{
    position: relative;
    display: block;
    margin-bottom: 42px;
}
.single-gallery-item .img-holder{
    position: relative;
    display: block;
    overflow: hidden;
}
.single-gallery-item .img-holder img{
    width: 100%;
    transform: scale(1.0);
}
.single-gallery-item:hover .img-holder img{
    transform:scale(1.2) rotate(1deg);	    
}
.single-gallery-item .img-holder:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    opacity: 0;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    opacity: 1;
    transform-origin: top;
    transform-style: preserve-3d;
    transform: scaleY(0);
    z-index: 1;
}
.single-gallery-item:hover .img-holder:before{
    opacity: 0.80;
    transform: scaleY(1.0);    
}

.single-gallery-item .img-holder:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    opacity: 1;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    opacity: 1;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: scaleY(0);
    z-index: 1;
}
.single-gallery-item:hover .img-holder:after{
    opacity: 0.80;
    transform: scaleY(1.0);    
}
.single-gallery-item .img-holder .overlay-button{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: scale(0);
    transition: all 200ms ease 100ms;
    z-index: 10;
}
.single-gallery-item:hover .img-holder .overlay-button{
    opacity: 1;
    transform: scale(1.0);
    transition: all 500ms ease 800ms;    
}
.single-gallery-item .img-holder .overlay-button a{
    position: relative;
    display: inline-block;
    width: 65px;
    height: 65px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 40px;
    line-height: 65px;
    text-align: center;
}

.single-gallery-item .title-holder{
    position: relative;
    display: block;
    padding-top: 27px;
}
.single-gallery-item .title-holder p{
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px;
}
.single-gallery-item .title-holder h3{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.single-gallery-item .title-holder h3 a{
    color: #11161e;
}

.gallery_viewmore_button{
    position: relative;
    display: block;
    padding-top: 20px;
}    























